.container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .pager {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 20px;
  font-size: 20px;
  color: cornflowerblue;
  padding: 5px;
  margin: 0 10px;
}
.container .pager:last-child {
  width: 80px;
}
.container .pager.disabled {
  color: gray;
  cursor: not-allowed;
}
.container .pager.active {
  color: orangered;
  cursor: auto;
}
.container .pager.show {
  color: black;
}
